@tailwind base;
@tailwind components;
@tailwind utilities;

.link {
  background-color: red;
  color: white;
  padding: 4px 8px;
  border-radius: 4px;
}

.mainCont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}
.mainTitle {
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}

.mainTit {
  font-weight: bold;
  text-align: center;
  margin-top: 8px;
  text-transform: uppercase;
  text-decoration: underline;
}

.quote{
  font-style: italic;
}
.btext{
  font-weight: bold;
}

.bullet{
  font-weight: bold;

}

.ulDiv{
  margin-top: 12px;
}

.ul{
  list-style: decimal;
  padding-left: 8px;
}

.li{
  text-align: justify;
  
}

/* .par::first-letter{
font-size: 200%;
} */